*{
    background-color: whitesmoke;
    font-family: Arial,"Courier New", sans-serif;

}

.header {
    background-color: rgb(60, 146, 245);
    
}

nav { height: auto; }
nav { min-height: 15%;}
nav { max-height: 20rem; }
nav { width: 100%; }

body{display: grid;}

.nav-link {
    color: white;
    background-color:rgb(6, 9, 216) ;
    font-size: 11;
    font: Arial;
    font-weight: bold;
    box-shadow: 1px 1px 4px rgb(150,150,150);
    border-radius: 5px;
}

.nav-link:hover{
    background-color: rgb(4, 7, 161) ;
    color: white;
}

submit, button{
    color:rgba(0, 0, 0, 0.8);
    background-color: rgb(220, 220, 220);
    font-size: 11;
    font: Arial;
    font-weight: bold;
    box-shadow: 1px 1px 4px rgb(150,150,150);
    border-radius: 5px;
}

submit:hover, button:hover{
    background-color: rgba(252, 192, 30, 0.8) ;
    color: rgb(0,0,0);
    outline: 2px rgba(0,0,0,0.8);
}

input {
    background-color: rgb(220, 220, 220);
}

input:focus{
    background-color: rgb(180, 180, 180);
    outline: 2px goldenrod;
}
.tabelle{
    background-color: burlywood;
    color: greenyellow;
}

.button2{
    color:rgba(0, 0, 0, 0.8);
    background-color: rgb(220, 220, 220);
    font-size: 11;
    font: Arial;
    font-weight: bold;
    box-shadow: 1px 1px 4px rgb(150,150,150);
    border-radius: 5px;
}
.button2:hover{
    background-color: rgb(200,200,200);
}
/*.grid-container{
    display:grid;
    /* 4 Columns
    grid-template-columns: 80px 200px auto 40px;
    grid-column-gap: 10px;
    /* 2 Rows
    grid-template-rows: 80px 1fr;
    height: 75vh; width: 75vw;
    margin: 10vh auto;

}
.grid-item{

}
.grid-item2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
     grid-row-end: 3;
}
.page{
    display:grid;
    grid-template-columns: 80px 200px auto 40px;
    grid-column-gap: 10px;
    grid-template-rows: 80px 1fr;
    height: 75vh; width: 75vw;
    margin: 10vh auto;
}*/

.fa-trash{
    pointer-events: none;
}

.form1{
    display: grid;
    padding: 1em;
    background: #acacac;
    border: 1px solid #5a5a5a;
    margin: 2rem auto 0 auto;
    max-width: 600px;
    padding: 1em;
}

.labeladdItem {
    padding: 0.5em 0.5em 0.5em 0;
    background-color: tomato;
}
input#addItemName,input#addItemMenge,input#addItemEinheit {
    padding: 0.7em;
    margin-bottom: 0.5rem;
    border: 1px solid #9c9c9c;
}
#addItemButton{
    padding: 0.7em;
    width: 100%;
    border: 0;
}

    .form1 {
        max-width: 400px;
      grid-template-columns: 80px 200px auto 40px;
      grid-template-rows: 80px 1fr;
      grid-gap: 10px;
    }
  
    .labeladdItem {
      text-align: right;
      grid-column: 1 / 2;
    }
  
    input#addItemName,input#addItemMenge,input#addItemEinheit,
    #addItemButton {
        grid-column: 2 / 3;
    }
    #addItemName{
        grid-row: 1 / 2;
    }
    #addItemMenge{
        grid-row: 2 / 3;
    }
    #addItemEinheit{
        grid-row: 3 / 4;
    }
    #addItemButton{
        grid-row: 4 / 5;
    }


@media (orientation:portrait){

}
@media (orientation:landscape){

}

